@model RestNew.ViewModels.HomeModel

<div class="breadcrumb-area bg-img ptb-80" style="background-image:url(/assets/img/banner/breath.jpg);">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h3>Contact us</h3>
            <ul>
                <li>
                    <a href="/Home">Home</a>
                </li>
                <li class="active">Contact us</li>
            </ul>
        </div>
    </div>
</div>



<div class="contact-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="contact-message-wrapper">
                    <h4 class="contact-title mb-25">Leave Us a Message</h4>
                    <div class="contact-message">
                        <form id="contact-form" action="https://htmldemo.hasthemes.com/basmoti/basmoti/assets/mail.php" method="post">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="contact-form-style mb-20">
                                        <input name="name" placeholder="Full Name" type="text">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="contact-form-style mb-20">
                                        <input name="email" placeholder="Email Address" type="email">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="contact-form-style mb-20">
                                        <input name="subject" placeholder="Subject" type="text">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="contact-form-style">
                                        <textarea name="message" placeholder="Message"></textarea>
                                        <button class="submit btn-style" type="submit">SEND MESSAGE</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <p class="form-messege"></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-info-area">
                    <h4 class="contact-title mb-18">Contact Us</h4>
                    <p>Lorem ipsum dolor sit amet, conse ncteturll adipisicing elit, sed do eiusmod </p>
                    <div class="contact-info-wrap">
                        <div class="single-contact-info mb-40">
                            <div class="contact-info-icon">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="contact-info-content">
                                <h4>Location :</h4>
                                <p>@Model.SystemSetting.Location</p>
                            </div>
                        </div>
                        <div class="single-contact-info mb-35">
                            <div class="contact-info-icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="contact-info-content">
                                <h4>phone :</h4>
                                <p>@Model.SystemSetting.PhoneOne</p>
                                <p>@Model.SystemSetting.PhoneTwo</p>
                            </div>
                        </div>
                        <div class="single-contact-info">
                            <div class="contact-info-icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="contact-info-content">
                                <h4>mail :</h4>
                                <p>@Html.Raw(Model.SystemSetting.EmailOne)</p>
                                <p>@Html.Raw(Model.SystemSetting.EmailTwo)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="map-area pt-100">
            @Html.Raw(Model.SystemSetting.SystemSettingMapLocation)
        </div>
    </div>
</div>
<div class="pt-50"></div>