@model IEnumerable<RestNew.Models.TransactionBookTable>

@{
    ViewData["Title"] = "Index";
}



<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item active">Transaction BookTable</li>
        </ol>
    </nav>
</div><!-- End Page Title -->




<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">

                    <!-- Table with stripped rows -->
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.TransactionBookTableFullName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TransactionBookTableEmail)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TransactionBookTableMobileNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TransactionBookTableDate)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TransactionBookTableFullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TransactionBookTableEmail)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TransactionBookTableMobileNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TransactionBookTableDate)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>

        </div>
    </div>
</section>